*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "oswald", sans-serif;
    font-size: 14px;
}
.main{
    height: auto;
    margin: 0 auto ;
}
.top-bar{
    background-color: #000;
}

.top-bar .nav-link{
    color: white;
    font-size: 12px;
    letter-spacing: 1px;
}
.top-bar .nav-link:hover{
    color: #b28712;
}

.logo{
    text-align: center;
    padding: 50px;
}

.menu{
    border-top: 1px solid;
    border-bottom: 1px solid;

}
.menu .nav-link{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 15px 25px;
    color: #000;
}
.menu .nav-link:hover{
    color: #b20d30;
    transition: all 0.5s linear 0s ;
    border-radius: 5px;
    background-color: #c3e6cb ;
    /*font-size: 18px;*/

}