.product-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
}

.product-section-image:hover {
    border: 3px solid #9c3328
}

.product-section-image {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #979797;
    cursor: pointer;
    height: 200px;
}

img {
    opacity: 1;
    transition: opacity .10s ease-in-out;
    max-height: 100%;
}


