<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Eshop</title>

</head>
<body>


<div class="top-bar">
    <div class="container">
        <div class="row">
            <ul class="nav col-6 ">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Contact us</a>
                </li>

            </ul>

            <ul class="nav col-6 justify-content-end">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Language</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Currency:$</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="far fa-user"></i> Sign in</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-shopping-cart"></i> Cart(0)</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="logo">
    <img src="img/eshop-logo.png" alt="">
</div>

<div class="nav">
    <div class="container">
        <div class="menu">
            <ul class="nav justify-content-center">
                <li class="nav-item"><a href="#" class="nav-link">women</a></li>
                <li class="nav-item"><a href="#" class="nav-link">men</a></li>
                <li class="nav-item"><a href="#" class="nav-link">kids</a></li>
                <li class="nav-item"><a href="#" class="nav-link">shoes</a></li>
            </ul>
        </div>
    </div>
</div>



<script type="text/javascript" src="js/popper.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/jquery-3.3.1.slim.min.js"></script>
<script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>
</body>
</html>